# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
db.sqlite3-journal
*.log
staticfiles/
media/

# Environment variables / secrets
.env
.env.*

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
